<!DOCTYPE html>
<html>
<head>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <title> Dashboard </title>
</head>
<body>
<%= yield %>
</body>
</html>