<!DOCTYPE html>
<html>
  <head>
    <title>Aitch</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body class='h'>
      <li id='topmenu' class="col-12 row">
        <div  id="buttons">
          <ul class='buttonM'><a href='/portraits'>portraits</a></ul>
          <ul class='buttonM'><a href='/monographs'>monographs</a></ul>
          <ul class='buttonM'><a href='/abstract'>abstract</a></ul>
          <ul class='buttonM'><a href='/upcoming'>upcoming </a></ul>
          <ul class='buttonM'><a href='/author'>author</a></ul>
          <ul class='buttonM'><a href='/contact'>contact</a></ul>
          <ul class='buttonM'><a href='#'>home</a></ul>
        </div>
    </li>
    <div id='main' class='col-12 row'>
        <div id='BL'>
            <div id="row1">

                <h2>Photography</h2>
            </div>
            <div id="row2">
                <div id='mainT'>
    Anything can be a source of inspiration for my photographs making, for my artistic research: items of Parisian culture, wine, Venetian architecture, wild nature, Man’s suffering and death, Halloween Parades, American values and civilization. <br/>
    In general, the most varied subjects ranging from realistic to abstract approach.<br/>
    In particular: everything that can stimulates my creation: the color freed from representation any external reality and being the subject for itself is the most significant example here.<br/>
    Nevertheless, the human face has been – and still remains – an important part of the "matrix" for my various portraits of famous personalities as well as others, less known but yet fascinating people met where I lived in Paris, New York and elsewhere.<br />
                    <h1 id="sign">Andrew Aitch</h1>
                </div>
            </div>
        </div>
        <div id='BR'>
            <div id="contBR">
                <div id="picContainer">
                        <img src="https://s3.amazonaws.com/webpiccs/home_pics/indexM.png" id="indexPic">
                </div>
            </div>
        </div>
    </div>
    <div id='footerh' class='col-12 row'>
        <div id='lf' class='col-1'>
        <div id='border'> </div>
        </div>
        <div id='blanf' class='col-5'> </div>
        <div id='rf' class='col-6'>
            All rights reserved.  Copyright 1982 – 2018  Andrew AITCH
        </div>
    </div>
  </body>
</html>
