<div  class='row col-12' id='main'>
    <div id='BL'>
        <div id='contBL'>
            <p id="text"> 
                <span id="lien1"> <a href=''> lien1</a> </span> <br/>
                <span id="lien2"> lien2 </span> <br/>
                <span id="lien3"> lien3 </span> <br/>
            </p>
        </div>
    </div>
    <div id='BR'>
        <div id='contBR'>
            <div id="contentR">
            

Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent molestie rutrum lorem, commodo cursus erat dignissim vitae. Aliquam tincidunt sapien libero, vel venenatis eros tincidunt et. Vestibulum convallis, urna et imperdiet lobortis, nibh turpis tincidunt erat, vel commodo erat sapien quis ipsum. Donec nisl ipsum, accumsan et orci vel, venenatis luctus mi. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Maecenas ac magna odio. Nam vulputate vehicula rutrum. Maecenas risus orci, sollicitudin dictum dolor vel, venenatis varius lorem. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Praesent quis tristique nulla, quis vehicula dui. Curabitur finibus tellus posuere ante consequat, vulputate bibendum lacus porttitor. Integer vulputate sodales augue, id bibendum massa porta sit amet.

Sed tempor ex eu nunc euismod tristique. In hac habitasse platea dictuamet elit. Sed eget leo neque. Etiam et mattis erat. Maecenas consectetur venenatis mi. Donec in suscipit leo, non accumsan ligula. Vestibulum pharetra lectus sed massa lobortis, a lacinia augue convallis. In dignissim metus dolor, eget tincidunt enim dapibus in. Curabitur ultrices lobortis enim a efficitur. Vivamus arcu ante, ultrices vel ultrices vel, tristique id risus. Quisque dictum sem sed mi rutrum, in viverra diam viverra. Quisque ac congue felis, vitae dictum arcu. 
            </div>
        </div>
    </div>
</div>

